 body {
        font-family: Arial, sans-serif;
        text-align: center;
        margin-top: 50px;
        background-color: rgb(137, 137, 137);
        background-image: url('snow.gif');
      }
      .container{
        width: 1200px;
        background-color: #FFFFFF;
        margin: auto;
        border-radius: 40px;
        padding: 50px;
      }

      .calendar {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(7, 1fr);
        gap: 10px;
        max-width: 400px;
        margin: 0 auto;
       
      }

      .day {
        padding: 20px;
        border: 3px solid #000000;
        cursor: pointer;
        transition: background-color 0.3s;
         border-radius: 15px;
      }

      .completed {
        background-color: #4caf50;
        color: white;
      }

      .reset {
        margin-top: 20px;
        padding: 10px 20px;
        background-color: #f44336;
        color: white;
        border: none;
        cursor: pointer;
        font-size: 16px;
         border-radius: 10px;
    }
        @media (max-width: 1200px) {
            .calendar {
                grid-template-columns: repeat(4, 1fr); /* 4 колонки на телефонах */
                max-width: auto;
            }

            .day {
                padding: 10px; /* Ще менший розмір клітинок */
            }

            .reset {
                font-size: 14px; /* Менший текст для кнопки */
            }
             .container{
        width: 90%;
        background-color: #FFFFFF;
        margin: auto;
        border-radius: 40px;
        padding: 15px;
      }
        }